@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Helvetica Neue', sans-serif;
}